body{
    font-family: 'Open Sans', sans-serif;
}

.book{
    width: 17%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    border: 2px solid #222;
    border-radius: 3px;
}

.book .text-wrapper{
    padding: 20px;
}

.book h3{
    text-align: center;
}

.book p{
    text-align: justify;
    margin-bottom: 0;
}

.book img{
    max-width: 100%;
}

.ajax{
    display: none;
}

.ajaxStart{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #333; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
